data_dir = "/opt/consul"
datacenter = "${DATACENTER}"
domain = "${DOMAIN}"

performance {
  raft_multiplier = 1
}

client_addr = "0.0.0.0"

addresses = {
  dns = "0.0.0.0"
  http = "0.0.0.0"
  https = "0.0.0.0"
  grpc = "0.0.0.0"
}

ports = {
  dns = 8600,
  http = 8500,
  https = -1,
  serf_lan = 8301,
  serf_wan = 8302,
  server = 8300,
  grpc = 8502
}

connect {
  enabled = true
}

enable_syslog = true